@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <style>
        .image {
            background-image: url('https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg');
        }
    </style>
</head>
<body class="image">

    <h2>About Project</h2>

    <h3>
        Nimap Infotech Task of Product And Category.
    </h3>

</body>
</html>

